<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body{
        background-color: darkslategray;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height:90vh;
    }
    form{
        display: flex;
        flex-direction: column;
        background-color: darkcyan;
        padding:20px;
        border-radius:10px;
        box-shadow: 2px 2px 2px rgb(1,54,54);
        position: relative;
    }
    
    #login{
        position:absolute;
        bottom: 100px;
    }
  td{
    text-align: center;
  }
    input{
        padding: 7px;
        outline:none;
        background-color: rgb(166,233,233);
        border-radius: 10px;
  }
  .error{
    color:red;
    font-size:12px;
    text-align: left;
  }

  .content{
    text-align: center;
  }
</style>
</head>
<body>
    <div class="container">
        <form id="form" method="post" class="content">
          <input type="hidden" name="email"  id="emailvalue">
            <table>
                <tr>
                    <td> new Password</td>
                    <td><input type="password" name="password" id="password"></td>
                    <td class="error" id="e_p"></td>
                </tr>
                <tr>
                    <td> Repeat Password</td>
                    <td><input type="password" name="r_password" id="r_password"></td>
                    <td class="error" id="e_r_p"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="button" value="submit" onclick="validate()"></td>
                </tr>
            </table>
        </form>
        <div id="success"></div>
    </div>
</body>

<script>

    let querystring=window.location.search;
    console.log("query string is "+querystring);
    let searchparams=new URLSearchParams(querystring);
    console.log(searchparams+" url search params");
    let email=searchparams.get("email");
     document.getElementById("emailvalue").value=email;
async function forgotPasswordpass(){
    let formdata=document.getElementById("form");
    const details=new FormData(formdata);
    const params=new URLSearchParams(details);
    const data=await new Response(params).text()
    const response=await fetch("/forgotPassword",{
        method:"POST",
        headers:{
            "Content-type":"application/x-www-form-urlencoded"
        },
        body:data
    })

    const result=await response.json()

    console.log(result.msg);
    if(result.msg==="succesfull"){
        document.getElementById("success").innerHTML="password reset succesfully"
    }
  

}



function validate(){
                var isvalid=true;
                const password=document.getElementById("password").value;
                const r_password=document.getElementById("r_password").value;
                if(password===""){
                    document.getElementById("e_p").innerHTML="fill value";
                    isvalid=false;
                }
                else if(password.length<8){
                    document.getElementById("e_p").innerHTML="password length must be 8";
                    isvalid=false;
                }
                if(r_password!=password){
                    document.getElementById("e_r_p").innerHTML="password not matched";
                    isvalid=false;
                }
               
                isvalid && forgotPasswordpass()
            }
</script>
</html>