<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
      body{
            background-color: darkslategray;
        }
        .container{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 90vh;
        }
        #ans{
            position: absolute;
            bottom: 100px;
        }
        form{
            display: flex;
            flex-direction: column;
            background-color: darkcyan;
            padding: 20px;
            border-radius: 20px;
            position: relative;
        }

        td{
            text-align: center;
            padding: 15px;
        }
        input{
            padding: 7px;
            outline:none;
            background-color: rgb(166,233,233);
            border-radius:10px;
        }
        .error{
            color:red;
            font-size:12px;
            text-align: left;
        }
</style>
<body>
    <div class="container">
    <form action="/forgotPassword1" method="post" id="form">
        <table>
           <tr>
               <td>Email</td>
               <td><input type="text" name="email" id="email"></td>
               <td class="error" id="e_email"> </td>
           </tr>
            <tr>
               <td colspan="2">
                <input type="button" value="submit" onclick="validate()">
               </td>
           </tr>

        
        </table>
    </form>
  <div id="error"></div>
</div>

<script>
    async function forgotPasswordemail(){
        let formdata=document.getElementById("form");
        const details=new FormData(formdata);
        const params=new URLSearchParams(details);
        const data=await new Response(params).text()
        const response=await fetch("/forgotPassword1",{
            method:"POST",
            headers:{
                "Content-type":"application/x-www-form-urlencoded"
            },
            body:data
        })
    
        const result=await response.json()
      
        console.log(result.msg);

        if(result.msg==="succesfull"){
         document.getElementById("error").innerHTML=`<a href=/forgotPassword?email=${result.email}>click here to set New Passord</a>`
        }
        else if(result.msg==="Invalid Email"){
            document.getElementById("e_email").innerHTML="invalid email";
        }
        console.log(result.email);
    }
    
    function validate(){
        var isvalid=true;
      
        const email=document.getElementById("email").value;
        if(email===""){
          document.getElementById("e_email").innerHTML="fill_value";
          isvalid=false;
        }
        else if(!/^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(email)){
            document.getElementById("e_email").innerHTML="invalid email";
          isvalid=false;
        }
        isvalid && forgotPasswordemail()
    }
    </script>
</body>
</html>