<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-color: darkslategray;
    }
    a{
        color:black;
        text-decoration: none;
        background-color: rgb(49,88,160);
        padding:10px;
        border-radius: 10px;
    }
    p{
        text-align: center;
    }
</style>
<body>
    <h1 style="text-align: center;">welcome to dashboard</h1>
    <p ><a href="/logout">Logout</a></p>
</body>
</html>

