<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>dynamic table</td>
            <td> <a href="/dynamicTable">click here</a></td>
        </tr>
            <tr>
                <td>kukko cube</td>
                <td><a href="/cukooCube">click here</a></td>
            </tr>
                <tr>
                    <td>tic tac toe</td>
                    <td><a href="/TicTacToe">click here</a></td>
                </tr>
                    <tr>
                        <td>javascriptEvents</td>
                        <td><a href="/javascriptEvents">click here</a></td>
                    </tr>
                   
                    <tr>
                        <td>jsonplaceholder</td>
                        <td><a href="/jsonplaceholder">click here</a></td>
                    </tr>
                    <tr>
                        <td>jobAppForm</td>
                        <td><a href="/formsPractice">click here</a></td>
                    </tr>

    </table>
</body>
</html>