<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style2.css">
    <title>Document</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>
    
        <div class="container">
            <div class="nav">
                <div class="left">
                    <img src="/css/Images/htmlcssexercise2/Group 3478(1).png" alt="cv">
            
                </div>
                  <ul>
                    <div class="right">
                         <li>Home</li>
                         <li>Integration</li>
                         <li>pricing</li>
                         <li>community</li>
                          <li><input class="btn" type="button" value="Login"></li> 
                    </div>
                </ul>
            </div>
        </div>
    </header>
    <hr>
  <section class="section2">
    <div class="container">
       <div class="photocontent">
        <div class="contentonly">
        <h1>hosting services for your website</h1>
        <p>Easily and reliably host a website for your buisness,organization ,or project
            while retaining complete control over your sites underlying structure.
        </p>
        <div class="buttons">
        <input class="getstart" type="button" value="Get Started">
        <input  class="getmigration" type="button" value="Get Migration help">
    </div>
    <div class="arrow"><img src="/css/Images/htmlcssexercise2/arrow-down.png" alt=""></div>
</div>
      
       <div class="photoonly">
      
        <img src="/css/Images/htmlcssexercise2/portrait-confident-bearded-man-using-laptop-computer 1.png" alt="">
   
       </div>
    </div>
    </div>
  </section>
    <section class="section3">
        <div class="container">
            <div class="content">
                <div class="text">
                    <p>Those who have Experianced The Best perfomance</p>
                </div>
                <div class="images">
                    <img class="img img1" src="/css/Images/htmlcssexercise2/Telkom Indonesia Logo.png" alt="">
                    <img  class="img img2"  src="/css/Images/htmlcssexercise2/Jetstar Airways Logo.png" alt="">
                    <img   class="img img3"  src="/css/Images/htmlcssexercise2/Nescafe Logo.png" alt="">
                    <img  class="img img4"  src="/css/Images/htmlcssexercise2/Lenovo Logo.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="section4">
        <div class="container">
            <div class="main-container">
                <div class="col1">
                    <div class="imgg">
                        <img src="/css/Images/htmlcssexercise2/Group 3552.png" alt="" height="400px" width="400px">
                    </div>
                </div>
                <div class="col2">
                    <div class="header">
                        <h1 class="header2big">Boost the speed of your website</h1>
                    </div>
                    <div class="container4items">
                        <div class="item1">
                            <h3>fatster Build process</h3>
                            <p class="margin10px" >we can speed up the process of creating your website</p>
                        </div>
                        <div class="item2">
                            <h3>Faster Delivery</h3>
                            <p class="margin10px">our purchases and services can  be completed quickly</p>
                        </div>
                        <div class="item3">
                            <h3>Faster Access speed</h3>
                            <p class="margin10px"> superb network infrastucture and hardware to support fast and stable
                                access.
                            </p>
                        </div>
                        <div class="item4">
                            <h3>24/7 fatser services</h3>
                            <p class="margin10px">we have a response time of less than 180 seconds available 24 hours day</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section5">
        <div class="container">
            <div class="paracontainer">
            <p>Host any website with our</p>
            <p>fully managed services</p>
        </div>
            <div class="row">
                <div class="col colhover">
                    <div class="card cardhover">
                        <div class="logo">
                            <div class="img">
                            <img  src="/css/Images/htmlcssexercise2/cloud-sunny.png" alt="">
                            </div><h3>cloud hosting</h3>
                        </div>
                        <p class="lineheight margintop20px " > provide buissness-related hosting service ,such as websites or
                            management systems for companies    </p>
                    </div>
                    <h2 class="margintop20px dollar" style="margin-left: auto;margin-right: auto;"> $5.9/month</h2>
                    <input class="margintop20px  width90 btnsection5 btnhover" type="button" value="More Detail">
                </div>
                <div class="col colhover">
                    <div class="card cardhover">
                        <div class="logo">
                            <div class="img">
                            <img src="/css/Images/htmlcssexercise2/buildings.png" alt="">
                        </div>
                            <h3>corporate</h3>
                        </div>
                        <p  class="lineheight margintop20px"> provide buissness-related hosting service ,such as websites or
                           management systems for companies                            
                        </p>
                    </div>
                    <h2 class="margintop20px dollar"  style="margin-left: auto;margin-right: auto;"> $19/month</h2>
                    <input class="margintop20px width90 btnsection5  btnhover" type="button" value="More Detail">
                </div>
                <div class="col colhover">
                    <div class="card cardhover">
                        <div class="logo">
                            <div class="img">
                            <img src="/css/Images/htmlcssexercise2/driver.png" alt="">
                        </div>
                            <h3>cloud vps</h3>
                        </div>
                        <p  class="lineheight margintop20px">  provide buissness-related hosting service ,such as websites or
                            management systems for companies    
                        </p>
                    </div>
                    <h2 class="margintop20px dollar"  style="margin-left: auto;margin-right: auto;" > $29/month</h2>
                    <input class="margintop20px  width90 btnsection5  btnhover" type="button" value="More Detail">
                </div>
                <div class="col colhover">
                    <div class="card cardhover">
                        <div class="logo">
                            <div class="img">
                            <img src="/css/Images/htmlcssexercise2/monitor-mobbile.png" alt="">
                        </div>
                            <h3>Dedicated</h3>
                        </div>
                        <p  class="lineheight margintop20px">  provide buissness-related hosting service ,such as websites or
                            management systems for companies    
                        </p>
                    </div>
                    <h2 class="margintop20px dollar"  style="margin-left: auto;margin-right: auto;"> $119/month</h2>
                    <input class="margintop20px  width90 btnsection5  btnhover" type="button" value="More Detail">
                </div>
            </div>
        </div>
    </section>

    <section class="section6">
        <div class="container">
            <div class="row5">
                <div class="col5">
                    <div class="frameworks">
                        <div class="frame1">
                            <div class="log">
                                <i class="fa-brands fa-wordpress fa-4x" style="color: #6a88b6;" ></i>
                            </div>
                            <div class="logTxt">
                              <button id="wordpress" class="borderNone" onmouseenter="fun(1)">WordPress</button> 
                            </div>
                        </div>
                        <div class="frame1">
                            <div class="log">
                         <i class="fa-brands fa-magento fa-4x" style="color: #6a88b6;" ></i>
                            </div>
                            <div class="logTxt">
                                <button id="magento"  class="borderNone" onmouseenter="fun(2)"> Magneto</button> 
                              
                            </div>
                        </div>
                        <div class="frame1">
                            <div class="log">
                                <i class="fa-brands fa-laravel fa-4x" style="color: #6a88b6;"></i>
                            </div>
                            <div class="logTxt">
                                <!-- <input type="text" onfocus="fun(3)" value="laravel"> -->
                                <button id="laravel"  class="borderNone" onmouseenter="fun(3)"> laravel</button> 
                            </div>
                        </div>
                        <div class="frame1">
                            <div class="log"> 
                                <i class="fa-brands fa-php fa-4x" style="color: #6a88b6;"></i>
                            </div>
                            <div class="logTxt">
                                <button id="php"  class="borderNone" onmouseenter="fun(4)"> php</button> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col5" id="wordpresscontent">
                   <div class="managed" >
                    <h3 style="text-transform: capitalize;font-size: 30px;">The Best Managed cloud Hosting for wordpress</h3>
                   </div>
                   <div class="live" style="margin-top: 40px;margin-bottom: 20px; line-height: 30px;">
                       we live and breathe wordpress. out managed hosting for wordpress
                       and woocommerce takes away cloud server related hassles so you can scale
                       your wensite the way you want.
                   </div> 
                   <div class="tick">
                    <div class="tick1">
                        <div class="tickImg">
                            <img src="/css/Images/htmlcssexercise2/Vector.png" alt="" height="25px">
                        </div>
                        <div class="tickTxt">
                            unlimited Bandwith
                        </div>
                    </div>
                    <div class="tick1">
                        <div class="tickImg">
                            <img src="/css/Images/htmlcssexercise2/Vector.png" alt="" height="25px">
                        </div>
                        <div class="tickTxt">
                           network speed.
                        </div>
                    </div>
                    <div class="tick1">
                        <div class="tickImg">
                            <img src="/css/Images/htmlcssexercise2/Vector.png" alt="" height="25px">
                        </div>
                        <div class="tickTxt">
                          Turbo power
                        </div>
                    </div>
                    <div class="tick1">
                        <div class="tickImg">
                            <img src="/css/Images/htmlcssexercise2/Vector.png" alt="" height="25px">
                        </div>
                        <div class="tickTxt">
                        xtreme freedom
                        </div>
                    </div>
                   </div>
                   <div class="morr">
                        <button id="morr1">More Detail</button>
                   </div>
                </div>
                 
                <!-- break division -->
                <div class="col5" id="magentocontent">
                    <div class="managed">
                     <h3 style="text-transform: capitalize;font-size: 30px;">The Best Managed cloud Hosting for magento</h3>
                    </div>
                    <div class="live" style="margin-top: 40px;margin-bottom: 20px; line-height: 30px;">
                        we live and breathe wordpress. out managed hosting for wordpress
                        and woocommerce takes away cloud server related hassles so you can scale
                        your wensite the way you want.
                    </div> 
                    <div class="tick">
                     <div class="tick1">
                         <div class="tickImg">
                             <img src="/css/Images/htmlcssexercise2/Vector.png" alt="" height="25px">
                         </div>
                         <div class="tickTxt">
                             unlimited Bandwith
                         </div>
                     </div>
                     <div class="tick1">
                         <div class="tickImg">
                             <img src="/css/Images/htmlcssexercise2/Vector.png" alt="" height="25px">
                         </div>
                         <div class="tickTxt">
                            network speed.
                         </div>
                     </div>
                     <div class="tick1">
                         <div class="tickImg">
                             <img src="/css/Images/htmlcssexercise2/Vector.png" alt="" height="25px">
                         </div>
                         <div class="tickTxt">
                           Turbo power
                         </div>
                     </div>
                     <div class="tick1">
                         <div class="tickImg">
                             <img src="/css/Images/htmlcssexercise2/Vector.png" alt="" height="25px">
                         </div>
                         <div class="tickTxt">
                         xtreme freedom
                         </div>
                     </div>
                    </div>
                    <div class="morr">
                         <button id="morr1">More Detail</button>
                    </div>
                 </div>
                            <!-- break division -->
                            <div class="col5" id="laravelcontent">
                                <div class="managed">
                                 <h3 style="text-transform: capitalize;font-size: 30px;">The Best Managed cloud Hosting for laravel</h3>
                                </div>
                                <div class="live" style="margin-top: 40px;margin-bottom: 20px; line-height: 30px;">
                                    we live and breathe wordpress. out managed hosting for wordpress
                                    and woocommerce takes away cloud server related hassles so you can scale
                                    your wensite the way you want.
                                </div> 
                                <div class="tick">
                                 <div class="tick1">
                                     <div class="tickImg">
                                         <img src="/css/Images/htmlcssexercise2/Vector.png" alt="" height="25px">
                                     </div>
                                     <div class="tickTxt">
                                         unlimited Bandwith
                                     </div>
                                 </div>
                                 <div class="tick1">
                                     <div class="tickImg">
                                         <img src="/css/Images/htmlcssexercise2/Vector.png" alt="" height="25px">
                                     </div>
                                     <div class="tickTxt">
                                        network speed.
                                     </div>
                                 </div>
                                 <div class="tick1">
                                     <div class="tickImg">
                                         <img src="/css/Images/htmlcssexercise2/Vector.png" alt="" height="25px">
                                     </div>
                                     <div class="tickTxt">
                                       Turbo power
                                     </div>
                                 </div>
                                 <div class="tick1">
                                     <div class="tickImg">
                                         <img src="/css/Images/htmlcssexercise2/Vector.png" alt="" height="25px">
                                     </div>
                                     <div class="tickTxt">
                                     xtreme freedom
                                     </div>
                                 </div>
                                </div>
                                <div class="morr">
                                     <button id="morr1">More Detail</button>
                                </div>
                             </div>
                             <!-- break division   -->
                             <div class="col5" id="phpcontent">
                                <div class="managed">
                                 <h3 style="text-transform: capitalize;font-size: 30px;">The Best Managed cloud Hosting for php</h3>
                                </div>
                                <div class="live" style="margin-top: 40px;margin-bottom: 20px; line-height: 30px;">
                                    we live and breathe wordpress. out managed hosting for wordpress
                                    and woocommerce takes away cloud server related hassles so you can scale
                                    your wensite the way you want.
                                </div> 
                                <div class="tick">
                                 <div class="tick1">
                                     <div class="tickImg">
                                         <img src="/css/Images/htmlcssexercise2/Vector.png" alt="" height="25px">
                                     </div>
                                     <div class="tickTxt">
                                         unlimited Bandwith
                                     </div>
                                 </div>
                                 <div class="tick1">
                                     <div class="tickImg">
                                         <img src="/css/Images/htmlcssexercise2/Vector.png" alt="" height="25px">
                                     </div>
                                     <div class="tickTxt">
                                        network speed.
                                     </div>
                                 </div>
                                 <div class="tick1">
                                     <div class="tickImg">
                                         <img src="/css/Images/htmlcssexercise2/Vector.png" alt="" height="25px">
                                     </div>
                                     <div class="tickTxt">
                                       Turbo power
                                     </div>
                                 </div>
                                 <div class="tick1">
                                     <div class="tickImg">
                                         <img src="/css/Images/htmlcssexercise2/Vector.png" alt="" height="25px">
                                     </div>
                                     <div class="tickTxt">
                                     xtreme freedom
                                     </div>
                                 </div>
                                </div>
                                <div class="morr">
                                     <button id="morr1">More Detail</button>
                                </div>
                             </div>
                             <!-- break division   -->

            </div>
        </div>
    </section>

    <section class="section7">
        <div class="container">
               <div class="sixth-main">
                <div class="sixth-heading">
                    <div class="sixth-heading-main">
                        <h3 style="color: darkblue;font-size: 55px;" class="darkbluecolor">
                            How our customers feel about us
                        </h3>
                    </div>
                    <div class="sixth-heading-arrow">
                        <a onclick="reducefunc()">
                        <img src="/css/Images/htmlcssexercise2/leftarrow.png" alt="" class="sixth-arrow"></a>
                        <a onclick="addfunc()">
                        <img src="/css/Images/htmlcssexercise2/arrow-right.png" alt="" class="sixth-arrow">
                    </a>
                    </div>
                </div>
               <div class="sixth-row">
                <div class="card">
                    <div class="sixth-col">
                        <img src="profile.png" alt="">
                        <div class="star-group">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                        </div>
                        <p>Thanks to the Awan Hoster , I was guided step-by-step untill 
                            it was finished
                        </p>
                        <h6>Guy Haelins</h6>
                        <p>manager</p>
                    </div>
                </div>
                <div class="card">
                    <div class="sixth-col">
                        <img src="profile.png" alt="">
                        <div class="star-group">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                        </div>
                        <p>Thanks to the Awan Hoster , I was guided step-by-step untill 
                            it was finished
                        </p>
                        <h6>Guy Haelins</h6>
                        <p>manager</p>
                    </div>
                </div>
                <div class="card">
                    <div class="sixth-col">
                        <img src="profile.png" alt="">
                        <div class="star-group">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                        </div>
                        <p>Thanks to the Awan Hoster , I was guided step-by-step untill 
                            it was finished
                        </p>
                        <h6>Guy Haelins</h6>
                        <p>manager</p>
                    </div>
                </div>
                <div class="card">
                    <div class="sixth-col">
                        <img src="profile.png" alt="">
                        <div class="star-group">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                        </div>
                        <p>Thanks to the Awan Hoster , I was guided step-by-step untill 
                            it was finished
                        </p>
                        <h6>Guy Haelins</h6>
                        <p>manager</p>
                    </div>
                </div>
                <div class="card">
                    <div class="sixth-col">
                        <img src="profile.png" alt="">
                        <div class="star-group">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                        </div>
                        <p>Thanks to the Awan Hoster , I was guided step-by-step untill 
                            it was finished
                        </p>
                        <h6>Guy Haelins</h6>
                        <p>manager</p>
                    </div>
                </div>
                <div class="card">
                    <div class="sixth-col">
                        <img src="profile.png" alt="">
                        <div class="star-group">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                        </div>
                        <p>Thanks to the Awan Hoster , I was guided step-by-step untill 
                            it was finished
                        </p>
                        <h6>Guy Haelins</h6>
                        <p>manager</p>
                    </div>
                </div>
                <div class="card">
                    <div class="sixth-col">
                        <img src="profile.png" alt="">
                        <div class="star-group">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                            <img src="/css/Images/htmlcssexercise2/Star 2.png" alt="">
                        </div>
                        <p>Thanks to the Awan Hoster , I was guided step-by-step untill 
                            it was finished
                        </p>
                        <h6>Guy Haelins</h6>
                        <p>manager</p>
                    </div>
                </div>
                
               </div>
               </div>
        </div>
    </section>


    <!-- <div class="circle">
        
    </div> -->
    <section class="intro">
        <div class="container">
            <div class="row11">
                <div class="col22">
                    <div class="bold">
                        <p>Try It Now And Stop</p>
                        <p>Doubting Anything</p>
                        <p>Else</p>
                    </div>
                    <div class="light">
                        <p>with Awan Hoster's money back Guarantee , you can try the</p>
                        <p>best service reliability</p>
                    </div>
                    <div class="buttons1">
                        <input type="button" value="start free trial">
                        <input type="button" value="See all Plans">
                    </div>
                </div>
                <div class="col22">
                    <img src="/css/Images/htmlcssexercise2/Group 1000008788.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
   <footer>
       <div class="container">
        <div class="footer-row">
            <div class="foot-left">
                <img src="/css/Images/htmlcssexercise2/logo-white.png" alt="">
                <div class="foot-para">
                    <p>we provide you with the best hosting</p>
                    <p>solutions for your wesites</p>
                </div>
                <div class="footer-icons">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-telegram"></i>
                </div>
            </div>
            <div class="foot-right">
                <div class="col11">
                    <h3>company</h3>
                    <p>About</p>
                    <p>Blog</p>
                    <p>Leadership</p>
                    <p>careers</p>
                    <p>Legal</p>
                </div>
                <div class="col11">
                    <h3>products</h3>
                    <p>API</p>
                    <p>Pricing</p>
                    <p>Documentation</p>
                    <p>Release Notes</p>
                    
                </div>
                <div class="col11">
                    <h3>contact</h3>
                    <p>support</p>
                    <p>sales</p>
                    <p>Report Abuse</p>
                    <p>system Status</p>
                </div>
            </div>
        </div>
       </div>
   </footer>

    <script >
var scrollable_btn=document.getElementsByClassName("sixth-row")

function addfunc(){
    scrollable_btn[0].scrollBy({
        left:200,
        behavior:"smooth",
    })
}

function reducefunc(){
    scrollable_btn[0].scrollBy({
        left:-200,
        behavior:"smooth",
    })
}


var wordpress=document.getElementById("wordpresscontent");
var magento=document.getElementById("magentocontent");
var laravel=document.getElementById("laravelcontent");
var php=document.getElementById("phpcontent");
wordpress.style.display="block";
magento.style.display="none";
laravel.style.display="none";
php.style.display="none";


function fun(a){
 wordpress.style.display="none";
magento.style.display="none";
laravel.style.display="none";
php.style.display="none";
if(a==1){
    wordpress.style.display="block";
}
else if(a==2){
    magento.style.display="block";  
}
else if(a==3){
    laravel.style.display="block";
}
else if(a==4){
    php.style.display="block";
}

}
    </script>
</body>
</html>