<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>javascript basic practice</title>
   
</head>
<body  onoffline="fun21()" ononline="fun22()">
    <table>
        <tr>
            <th>col1</th>
            <th>col2</th>
            <th>col3</th>
            <th>col4</th>
            <th>col5</th>
            <th>col6</th>
        </tr>
        <tr>
        <td style="height: 50px ;width: 50px; border: 1px solid black; color: blue;"><input type="button" value="click Me" onclick="fun1()">onclick</td>
        <td style="height: 50px ;width: 50px;  border: 1px solid black;"></td>
        <td style="height: 50px ;width: 50px; border: 1px solid black;"><input type="button" value="click Me" ondblclick="fun2()">ondblclick</td>
        <td style="height: 50px ;width: 50px; border: 1px solid black;"></td>
        <td style="height: 50px ;width: 50px; border: 1px solid black;" ><input type="button" value="click Me" onmouseenter="fun3()">onmouseenter</td>
        <td style="height: 50px ;width: 50px; border: 1px solid black;"></td>
     </tr>
     <tr>
        <td style="height: 50px ;width: 50px; border: 1px solid black;"></td>
        <td style="height: 50px ;width: 50px; border: 1px solid black;">
          <input type="button" value="click Me" onmouseleave="fun4()">onmouseleave</td>
        <td style="height: 50px ;width: 50px; border: 1px solid black;"></td>
        <td style="height: 50px ;width: 50px; border: 1px solid black;" ><input type="button" value="click Me" onblur="fun5()">onblur</td>
        <td style="height: 50px ;width: 50px; border: 1px solid black;" ></td>
        <td style="height: 50px ;width: 50px; border: 1px solid black;"><input type="button" value="click Me" onkeydown="fun6()">onkeydown</td>
      
     </tr>
     <tr>
      <td style="height: 50px ;width: 50px; border: 1px solid black;"></td>
      <td style="height: 50px ;width: 50px; border: 1px solid black;">
        <p id="change1">vijaykumar</p>
        <input type="button" value="click Me" onmousedown="fun7()">onmousedown</td>
      <td style="height: 50px ;width: 50px; border: 1px solid black;"></td>
      <td style="height: 50px ;width: 50px; border: 1px solid black;" >
        <p id="change2">vijaykumar</p>
        <input type="button" value="click Me" onmousemove="fun8()">onmousemove</td>
      <td style="height: 50px ;width: 50px; border: 1px solid black;" ></td>
      <td style="height: 50px ;width: 50px; border: 1px solid black;">
        <p id="change3">vijaykumar</p>
        <input type="button" value="click Me" onmouseout="fun9()">onmouseout</td>
    
   </tr>
   <tr>
    <td style="height: 50px ;width: 50px; border: 1px solid black;"></td>
    <td style="height: 50px ;width: 50px; border: 1px solid black;">
      <p id="change4">vijaykumar</p>
      <input type="button" value="click Me" onmouseup="fun10()" >onmouseup</td>
    <td style="height: 50px ;width: 50px; border: 1px solid black;"></td>
    <td style="height: 50px ;width: 50px; border: 1px solid black;" >
      <p id="change5">vijaykumar</p>
      <input type="button" value="click Me" onwheel="fun11()">onwheel</td>
    <td style="height: 50px ;width: 50px; border: 1px solid black;" ></td>
    <td style="height: 50px ;width: 50px; border: 1px solid black;">
      <p id="change6"  oncopy="fun12()"> oncopy</p>
      <input type="button" value="click Me"></td>
  
 </tr>
 <tr>
  <td style="height: 50px ;width: 50px; border: 1px solid black;"></td>
  <td style="height: 50px ;width: 50px; border: 1px solid black;">
    
    <p draggable="true" ondrag="fun13()">ondrag</p> 
    <input type="button" value="click Me" ></td>
  <td style="height: 50px ;width: 50px; border: 1px solid black;"></td>
  <td style="height: 50px ;width: 50px; border: 1px solid black;" >
    <p draggable="true" ondrop="fun14()">ondrop</p>
    <input type="button" value="click Me" ></td>
  <td style="height: 50px ;width: 50px; border: 1px solid black;" ></td>
  <td style="height: 50px ;width: 50px; border: 1px solid black;">
    <div style="overflow: scroll; max-height: 100px;" id="change8" onscroll="fun15()">
    india  is 
    a democratic 
    country
    
      <br><br>
      
      
      welcome to javascript'</div>
    <input type="button" value="click Me" 
    ></td>

</tr>
<tr>
  <td style="height: 50px ;width: 50px; border: 1px solid black;"></td>
  <td style="height: 50px ;width: 50px; border: 1px solid black;">
    <p id="change9" oncut="fun16()">oncut</p>
    <input type="button" value="click Me" ></td>
  <td style="height: 50px ;width: 50px; border: 1px solid black;"></td>
  <td style="height: 50px ;width: 50px; border: 1px solid black;" >
    <p id="change10" onpaste="fun17()">onpaste</p>
    <input type="button" value="click Me" ></td>
  <td style="height: 50px ;width: 50px; border: 1px solid black;" ></td>
  <td style="height: 50px ;width: 50px; border: 1px solid black;">
    <p id="change11" oncopy="fun18()">vijaykumar</p>
    <input type="button" value="click Me" onkeypress="fun18()"> onkeypress</td>

</tr>
<tr>
  <td style="height: 50px ;width: 50px; border: 1px solid black;"></td>
  <td style="height: 50px ;width: 50px; border: 1px solid black;">
    <p id="change12" >vijaykumar</p>
    <input type="button" value="click Me" onkeyup="fun19()">onkeyup</td>
  <td style="height: 50px ;width: 50px; border: 1px solid black;"></td>
  <td style="height: 50px ;width: 50px; border: 1px solid black;" >
    <input type="text" value="onselect" onselect="fun20()">
    <p id="change13" >vijaykumar</p>
    <input type="button" value="click Me" ></td>
  <td style="height: 50px ;width: 50px; border: 1px solid black;" ></td>
  <td style="height: 50px ;width: 50px; border: 1px solid black;">
    <p id="change14" >vijaykumar</p>
    <input type="button" value="click Me" onload="fun21()"></td>
</tr>
    </table>
    <script>
 
          function fun1(){
            alert('onclick event occured');
          }
          function fun2(){
            alert("ondbclick event occured")
          }
          function fun3(){
            alert("onmouseEnter event occured")
          }
          function fun4(){
            alert("onmouseleave event occured")
          }
          function fun5(){
            alert("onblur event occured")
          }
          function fun6(){
            alert("onkeydown event occured")
          }
          function fun7(){
            alert("onmousedown event occured");
            var py=document.getElementById('change1');
            py.style.color='red';
          }
          function fun8(){
            alert("onmousemove event occured");
            var py=document.getElementById('change2');
            py.style.color='yellow';
          }
          function fun9(){
            alert("onmouseout event occured");
            var py1=document.getElementById('change3');
            py1.style.fontSize='5px';
          }
          function fun10(){
            alert("onmousdown event occured");
            var py2=document.getElementById('change4');
            py2.innerHTML='Hello ';
          }
          function fun11(){
            alert("onmousewheel event occured");
            var py3=document.getElementById('change5');
            py3.innerHTML='Hello world';
          }
          function fun12(){
            alert("oncopy event occured");
            var py4=document.getElementById('change6');
            py4.innerHTML='copied';
          }
          function fun13(){
            alert("ondrag event occured");
            var py4=document.getElementById('change6');
            py4.innerHTML='dragged';
          }
          function fun14(){
            alert("ondrop event occured");
            var py4=document.getElementById('change6');
            py4.innerHTML='dropped';
          }
           function fun15(){
            alert("on scroll event is occured");
            var py5=document.getElementById('change8');
            py5.style.color='blue';
           }
           function fun16(){
            alert("on cut event is occured");
            var py6=document.getElementById('change9');
            py6.innerHTML='cutted';
           }
           function fun17(){
            alert("on paste event is occured");
            var py7=document.getElementById('change10');
            py7.innerHTML='pasted';
           }
           function fun18(){
            alert("on keypress event is occured");
            var py8=document.getElementById('change11');
            py8.innerHTML='keypressed';
           }
           function fun19(){
            alert("on keyup event is occured");
            var py9=document.getElementById('change12');
            py9.innerHTML='keyup';
           }
           function fun20(){
            alert("on select event is occured")
            var py10=document.getElementById('change13');
            py10.innerHTML='selected';
           }
           function fun21(){
            alert("you are offline");
           }
           function fun22(){
            alert("you are online")
           }
        </script> 
</body>
</html>