<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <style>
        td{
            border: 1px solid black;
        }
        th{
            border: 1px solid black;
        }
    </style>
</head>
<body>

    <h3>vijay solanki 24DEV081</h3>
    <h3>jsonplaceholder api</h3>
    <table style="border:  solid black" id="container">
    <tr>
        <th>id</th>
        <th>userId</th>
        <th>body</th>
        <th>title</th>
        <th>Report</th>
    </tr></table>
    <input type="text" id="searchInput" placeholder="search by body">
    <input type="button" value="Go" onclick="searchData()">
    <input type="button" value="previous" id="previous" onclick="previousnextfunc(-1)"/>
    <input type="button" value="1" id="btn1">
    <input type="button" value="next" id="next" onclick="previousnextfunc(1)"/> 
    
    
</body>
<script>
    // console.log(10);
    // alert("hello world")
    let result;
    // let pr=fetch("https://jsonplaceholder.typicode.com/posts");
    // pr.then((res)=>{
    //     return res.json();
    // }).then((data)=>{
    //     result=data;
    //     pagination(1);
    // })
    async function posts(){
        try{
        const response=await fetch("https://jsonplaceholder.typicode.com/posts");
        const data=await response.json();
        result=data;
        pagination(1);
        console.log(data);
        }
        catch(error){
            console.log(error)
        }

    }
  posts()
  
    let first=document.getElementById("previous");
    let last=document.getElementById("next");
    let btn1=document.getElementById("btn1");
    let container=document.getElementById("container");
    let total=0;
    let i=1;
    if(i==1){
        first.disabled=true;
    }
    
    function previousnextfunc(increment){
        // let tbl=document.getElementById("container");
        // var rowcount=tbl.rows.length;

        //  let arrtr=document.getElementsByTagName("tr");
//         for(var j=rowcount-1;j>0;j--){
//             tbl.deleteRow(j);
//    }
        i=i+increment;
        first.disabled=(i===1);
        last.disabled=(i==10) 
        btn1.setAttribute("value",i);
        pagination(i);
    }

    function searchData(){
    let searchInput = document.getElementById("searchInput").value.toLowerCase();
    let filteredData = result.filter(item => item.body.toLowerCase().includes(searchInput));
    displayData(filteredData);
  }
  function displayData(data){
    let container = document.getElementById("container");
    container.innerHTML = "";
    data.forEach(val => {
      let row = document.createElement("tr");
      let c1 = document.createElement("td");
      let c2 = document.createElement("td");
      let c3 = document.createElement("td");
      let c4 = document.createElement("td");
      let c5 = document.createElement("td");
      c1.innerText = val.id;
      c2.innerText = val.userId;
      c3.innerText = val.body;
      c4.innerText = val.title;
   
      row.appendChild(c1);
      row.appendChild(c2);
      row.appendChild(c3);
      row.appendChild(c4);
     container.appendChild(row);
    });
  }




 function pagination(page){
     container.innerHTML=""
        let skip=(page-1)*10;
        let limit=10;
        let urll;
        let row1=document.createElement("tr");
        let th1=document.createElement("th");
        let th2=document.createElement("th");
        let th3=document.createElement("th");
        let th4=document.createElement("th");
        let th5=document.createElement("th");
        th1.innerText="id";
        th2.innerText="userId";
        th3.innerText="body";
        th4.innerText="title";
        th5.innerText="report";
        row1.appendChild(th1);
        row1.appendChild(th2);
        row1.appendChild(th3);
        row1.appendChild(th4);
        row1.appendChild(th5);
        container.appendChild(row1);

        result.map((val)=>{
            if(result.indexOf(val)>=skip && result.indexOf(val)<skip+limit){
                let row=document.createElement("tr");
                let c1=document.createElement("td");
                let c2=document.createElement("td");
                let c3=document.createElement("td");
                let c4=document.createElement("td");
                let c5=document.createElement("td");
                c1.innerText=val.id;
                c2.innerText=val.userId;
                c3.innerText=val.body;
                c4.innerText=val.title;
       
                c5.innerHTML=`<a href="/details?id=${val.id}">click here</a>`
                // c5.appendChild(aa)
                row.appendChild(c1)
                row.appendChild(c2)
                row.appendChild(c3)
                row.appendChild(c4)
                row.appendChild(c5)
                container.appendChild(row);
            }
        })
    }
</script>
</html>