<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        p,label{
            display: "inline";
        }
    </style>
</head>
<body>

    <h3>vijay solanki 24DEV081</h3>
    <h3>jsonplaceholderapi</h3>
    <h1>Details</h1>
   iD: <h3 id="id1"></h3>
   userId: <h3 id="userId"></h3>
   body: <h3 id="body"></h3>
   title: <h3 id="title"></h3>
   <input type="button" value="show Comments" id="coment"  style="margin-bottom: 50px;" onclick="showComments()">
   <input type="button" value="hide comments"id="hide" style="margin-bottom: 50px;"  onclick="hideComments()">
<div id="maindiv"></div>

</body>
<script>
    let maindiv=document.getElementById("maindiv");
    let id1=document.getElementById("id1");
    let coment=document.getElementById("coment")
    let userId=document.getElementById("userId");
    let body=document.getElementById("body");
    let title=document.getElementById("title");
    // let urll=window.location.href ;
    // let arr=urll.split("/")
    // console.log(arr[4]);
let querystring=window.location.search;
let urlparams=new URLSearchParams(querystring);
let idreq=urlparams.get("id");
    // let urlll=`https://jsonplaceholder.typicode.com/posts/${arr[4]}`;
     let urlll=`https://jsonplaceholder.typicode.com/posts/${idreq}`;
    let pr=fetch(urlll);
    pr.then((res)=>{
        return res.json();

    }).then((data)=>{

        id1.innerText=data.id;
        userId.innerText=data.userId;
        body.innerText=data.body;
        title.innerText=data.title;
    })

     
    function showComments(){
        maindiv.style.display="block"
        let url2=`https://jsonplaceholder.typicode.com/posts/${idreq}/comments`
        let pr2=fetch(url2);
        pr2.then((res)=>{
            return res.json();
        }).then((data)=>{
          data.map((val1)=>{
            let div1=document.createElement("div");
            let p1=document.createElement("p");
            let p2=document.createElement("p");
            let p3=document.createElement("p");
            let p4=document.createElement("p");
            let p5=document.createElement("p");
            let l1=document.createElement("label");
            let l2=document.createElement("label");
            let l3=document.createElement("label");
            let l4=document.createElement("label");
            let l5=document.createElement("label");
            l1.innerText="postId: ";
            l2.innerText="id: ";
            l3.innerText="name: "
            l4.innerText="email: "
            l5.innerText="body: "
            p1.innerText=val1.postId;
          
            p2.innerText=val1.id;
            p3.innerText=val1.name;
            p4.innerText=val1.email;
            p5.innerText=val1.body;

            
            let br1=document.createElement("br");
            div1.style.border="1px solid black";
            div1.style.marginBottom="50px";
            l1.style.display="inline"
            div1.appendChild(l1);
            div1.appendChild(p1);
            div1.appendChild(br1)
            div1.appendChild(l2);
            div1.appendChild(p2);
            div1.appendChild(br1)
            div1.appendChild(l3);
            div1.appendChild(p3);
            div1.appendChild(br1)
            div1.appendChild(l4);
            div1.appendChild(p4);
            div1.appendChild(br1)
            div1.appendChild(l5);
            div1.appendChild(p5);
            maindiv.appendChild(div1)
            console.log(val1);
        
          })
        })
    }

    function hideComments(){
        maindiv.style.display="none";
    }
</script>
</html>